<p id='top'><%= @user.email %></p>
<p><%= link_to 'Main page', root_path %></p>

<%= render 'follow_form', user: @user, friendship: @friendship %>

<% if current_user == @user.id %>
  <h1>What's up</h1>
  <%= render 'posts/form' %>
<% end %>

<h1>Shit posts</h1>
<ul>
  <%= render @posts %>
</ul>
<a href='#top'>Go up<a>
