<p><%= @user.email %></p>
<p><%= link_to 'Main page', root_path %></p>
<h1>What's up</h1>
<%= render 'posts/form' %>

<h1>Shit posts</h1>
<ul>
  <%= render @posts %>
</ul
<%= link_to 'Go up', user_path(@user)%>
