<li>
  <p>
    <strong><%= link_to post.user.email, user_path(post.user_id) %></strong><br>
    <%= link_to post.body, post_path(post.id) %>
  </p>
  <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= render 'comments/form', post: post %>
  <% if post.comments.blank? %>
    <p>There are no comments yet.</p>
  <% else %>
    <details>
      <summary>Comments:</summary>
    <fieldset>
            <legend><h1>Comments:</h1></legend>
            <ul>
              <%= render post.comments %>
            </ul>
    </fieldset>
  </details>
  <% end %>
</li>
